.weather-box {
  background-image: url("./cloudimage.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  /* 자동 정렬을 위한 Flexbox */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* 반응형 크기 */
  width: 30%;
  height: 500px;
  padding: 1%;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.temp {
  margin-left: 10px;
}
